# Database Settings
DB_PASSWORD=ZHomeStrongPassword2026!

# JWT Secret Key
JWT_KEY=ZHome_SuperSecretKeyThatIsAtLeast32BytesLongForSecurity_2026

# Email / Gmail SMTP Settings
SMTP_USERNAME=danghoangson2752k4@gmail.com
SMTP_PASSWORD=hspbgixotgfspjfy

# SePay Payment Gateway
SEPAY_API_KEY=PDXGMSZKKQE9D5TAYGB1FXH867VTRUEZMNEBR6B7GKC804NCIQQCAPIEL0NAXIAL

# PayOS Payment Gateway
PAYOS_CLIENT_ID=d28bcd32-18fb-4340-a36d-aaa724f4e510
PAYOS_API_KEY=232942dd-26a4-402d-9750-fb092c4007d1
PAYOS_CHECKSUM_KEY=6d5d3dfe1cd0de8fd0dfbf2c2e1af80bbfac2219147d30241404930094fbb810
